---
# Global tasks.
- name: Ensure config directory exists.
  file:
    path: "{{ config_home_dir }}/{{ item.user }}/{{ config_config_dir_name }}"
    state: directory
    owner: "{{ item.user }}"
    group: "{{ item.group }}"
  with_items: "{{ config_users }}"

- name: Import and link *nix style dotfiles.
  include: dotfiles_config.yml

- name: Template ~/.ssh/config into place for users.
  include: ssh_config.yml

# OS-specific tasks.

- name: Run macOS specific tasks.
  include: macos_config.yml
  when: ansible_os_family == "Darwin"
